<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home">未审核</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu1">已审核</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="">
    <div id="home" class="container tab-pane active" style="margin-left: 0px;max-width:2000px;"><br>
        {{!-- <h3><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#myModal5">新增测试数据</button></h3>
        <button type="button" class="btn btn-primary" id="testup">测试上传</button>
        <button type="button" class="btn btn-primary" id="testdown">测试下载</button>
        <button type="button" class="btn btn-primary" id="testdown2">测试下载2new</button>
        <button type="button" class="btn btn-primary" id="testpost">测试post</button>
        <button type="button" class="btn btn-primary" id="testpatient">测试患者项目</button> --}}
        <table class="table table-hover table-striped" style=" table-layout: fixed;">
            <thead class="table-primary">
                <tr>
                    <th>项目编号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>出生日期</th>
                    <th>项目名称</th>
                    <th>电话</th>
                    {{!-- <th>试验分期</th> --}}
                    <th>操作<span id="caozuo1" style="display:none;color:aqua;">成功！</span></th>
                </tr>
            </thead>
            <tbody id="exam_n">
                <tr>
                    {{!-- <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden; ">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                        <button type="button" class="btn btn-primary">通过</button>
                        <button type="button" class="btn btn-primary">不通过</button>
                    </td> --}}
                </tr>
            </tbody>
        </table>
    </div>
    <div id="menu1" class="container tab-pane fade" style="margin-left: 0px;max-width:2000px;"><br>
        <table class="table table-hover table-striped" style=" table-layout: fixed;">
            <thead class="table-primary">
                <tr>
                    <th>项目编号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>出生日期</th>
                    <th>项目名称</th>
                    <th>电话</th>
                    {{!-- <th>试验分期</th> --}}
                    {{!-- <th>操作</th> --}}
                </tr>
            </thead>
            <tbody id="exam_n2">
                <tr>
                    {{!-- <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden; ">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">23</td>
                    <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                        <button type="button" class="btn btn-primary">通过</button>
                        <button type="button" class="btn btn-primary">不通过</button>
                    </td> --}}
                </tr>
            </tbody>
        </table>
    </div>

    <!--弹出框-->
    <div class="modal" id="myModal5">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">新增测试数据</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- 模态框内容 -->
                <div class="modal-body">
                    <input class="form-control" id="name" placeholder="姓名">
                    <input class="form-control" id="sex" style="margin-top:10px;" placeholder="性别">
                    <input class="form-control" id="birth" style="margin-top:10px;" placeholder="出生日期">
                    <input class="form-control" id="phone" style="margin-top:10px;" placeholder="电话">
                    <input class="form-control" id="idcard" style="margin-top:10px;" placeholder="身份证号">
                    <input class="form-control" id="mainid" style="margin-top:10px;" placeholder="项目编号">
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <div class="alert alert-success" style="padding: 10px;display:none;" id="modal5alert">
                        <strong>成功!</strong>
                    </div>
                    <button type="button" class="btn btn-primary" id="test_sure">确定</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>

    <!--弹出框-->
    <div class="modal" id="myModalpic">
        <div class="modal-dialog  modal-dialog-centered">
            <div class="modal-content">

                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">资料内容</h4>
                    {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> --}}
                </div>

                <!-- 模态框内容 -->
                <div class="modal-body">
                    <div id="mypic">
                        {{!-- <a
                            href="https://7072-prod-6go1azha6b1ef67a-1306110434.tcb.qcloud.la/file/1678800268.png">查看</a>
                        --}}
                    </div>
                </div>

                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>

    <!--脚本部分-->
    <script>
        $(document).ready(function () {
            //console.log("dd");
            getpatient_n();
            getpatient_n2();

            //获取未审核列表
            function getpatient_n() {
                $.ajax("/api/vs_patmaster_project?data=0", {
                    method: "get",
                }).done(function (res) {
                    if (res && res.data !== undefined) {
                        console.log(res.data);
                        var tmp = "";
                        for (let i = 0; i < res.data.length; i++) {
                            tmp += `
                            <tr>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].mainid + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden; ">`+ res.data[i].name + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].性别 + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].birth + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].pro_name + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].phone + `</td>
                               
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                                    <button type="button" class="btn btn-primary info" data-bs-toggle="modal" 
                data-bs-target="#myModalpic">资料<div style="display:none ;">`+ res.data[i].vsid + `</div><div class="pic" style="display:none ;">` + res.data[i].info + `</div></button>
                                    <button type="button" class="btn btn-primary pass" >通过<div style="display:none ;">`+ res.data[i].vsid + `</div><div class="myopenid" style="display:none ;">` + res.data[i].openid + `</div><div class="myname" style="display:none ;">` + res.data[i].name + `</div><div class="mypro_name" style="display:none ;">` + res.data[i].pro_name + `</div></button>
                                    <button type="button" class="btn btn-primary nopass" >不通过<div style="display:none ;">`+ res.data[i].vsid + `</div><div class="myopenid" style="display:none ;">` + res.data[i].openid + `</div><div class="myname" style="display:none ;">` + res.data[i].name + `</div><div class="mypro_name" style="display:none ;">` + res.data[i].pro_name + `</div></button>
                                </td>
                            </tr>
                            `;
                        }
                        $("#exam_n").html(tmp);
                    }
                });
            }

            //获取已审核列表
            function getpatient_n2() {
                $.ajax("/api/vs_patmaster_project?data=1", {
                    method: "get",
                }).done(function (res) {
                    if (res && res.data !== undefined) {
                        console.log(res.data);
                        var tmp = "";
                        for (let i = 0; i < res.data.length; i++) {
                            tmp += `
                            <tr>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].mainid + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden; ">`+ res.data[i].name + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].性别 + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].birth + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].pro_name + `</td>
                                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">`+ res.data[i].phone + `</td>
                               
                                
                            </tr>
                            `;
                        }

                        $("#exam_n2").html(tmp);
                    }
                });
            }

            //点击通过
            $(document).on("click", ".pass", function () {///api/updatepromain_patmaster_vs
                var str = "";
                var vsid = $(this).children().first().text();//vsid
                var myopenid = $(this).find('.myopenid').text();//
                var myname = $(this).find('.myname').text();//
                var mypro_name = $(this).find('.mypro_name').text();//
                var mystatus = "通过";//

                $.ajax("/api/updatepromain_patmaster_vs", {
                    method: "post",
                    data: { "vsid": vsid, "status": 8 },
                }).done(function (res) {
                    if (res && res.data !== undefined) {
                        $.ajax("/api/sendmessage", {//成功后，发送审核通知
                            method: "post",
                            data: { "myopenid": myopenid, "myname": myname, "mypro_name": mypro_name, "mystatus": mystatus },
                        }).done(function (res) {
                            if (res && res.data !== undefined) {

                            }
                        });
                    }
                    $('#caozuo1').show();
                    setTimeout(function () {
                        $('#caozuo1').hide();
                    }, 400);
                    getpatient_n();
                    getpatient_n2();
                });


            })

            //点击资料
            $(document).on("click", ".info", function () {///api/updatepromain_patmaster_vs
                $("#mypic").html("");
                var str = "";
                var tmp = $(this).find(".pic").text();//vsid
                //console.log(tmp);
                if (tmp != "" && tmp != null) {

                    //通过图像路径获取图像
                    $.ajax("/api/newdownloadfile", {
                        method: "post",
                        data: { "jsonstr": tmp },
                    }).done(function (res) {
                        if (res && res.data !== undefined) {
                            var jsonObj = $.parseJSON(res.data);
                            console.log(jsonObj.file_list);
                            var tmpstr = "";
                            for (var i = 0; i < jsonObj.file_list.length; i++) {
                                tmpstr += `<a href="` + jsonObj.file_list[i].download_url + `" target="_blank" style="margin-right:10px;">资料` + (i + 1) + `</a>`
                            }
                            $("#mypic").html(tmpstr);
                        }
                    });
                }



            })

            //点击不通过
            $(document).on("click", ".nopass", function () {///api/updatepromain_patmaster_vs
                var str = "";
                var vsid = $(this).children().first().text();//vsid
                var myopenid = $(this).find('.myopenid').text();//
                var myname = $(this).find('.myname').text();//
                var mypro_name = $(this).find('.mypro_name').text();//
                var mystatus = "不通过";//

                $.ajax("/api/updatepromain_patmaster_vs", {
                    method: "post",
                    data: { "vsid": vsid, "status": 9 },
                }).done(function (res) {
                    if (res && res.data !== undefined) {
                        $.ajax("/api/sendmessage", {//成功后，发送审核通知
                            method: "post",
                            data: { "myopenid": myopenid, "myname": myname, "mypro_name": mypro_name, "mystatus": mystatus },
                        }).done(function (res) {
                            if (res && res.data !== undefined) {

                            }
                        });
                    }
                    getpatient_n();
                    getpatient_n2();
                });


            })


            //添加测试数据
            $('#test_sure').click(function () {
                var gene_name = $('#sex').val();
                var gene_message = $('#gene_message').val();
                var gene_name = $('#birth').val();
                var gene_message = $('#phone').val();
                var gene_name = $('#idcard').val();
                $.ajax("/api/gene_insert", {
                    method: "post",
                    data: { "gene_name": gene_name, "message": gene_message },
                }).done(function (res) {
                    if (res && res.data !== undefined) {
                        $('#modal3alert').show();
                        getgene();
                        setTimeout(function () {
                            $('#modal3alert').hide();
                        }, 400);
                    }
                });
            });

            $('#testup').click(function () {
                console.log("kkk");
                cloud.uploadFile({
                    cloudPath: 'a.jpg', // 对象存储路径，根路径直接填文件名，文件夹例子 test/文件名，不要 / 开头
                    file: new File(), // 通过 input 或者 new File 获取
                    config: {
                        env: 'prod-6go1azha6b1ef67a' // 需要替换成自己的微信云托管环境ID
                    },
                    success: res => {
                        console.log(res.fileID);
                    },
                    fail: err => {
                        console.error(err);
                    }
                })
            });
            $("#testpost").click(function () {
                $.ajax("/api/prolistformsearch", {
                    method: "post",
                    data: { "infolike": '尼' },
                }).done(function (res) {
                    console.log(res);
                });
            });

            //下载数据
            $('#testdown').click(function () {
                $.ajax("/api/download", {
                    method: "get",
                    //data: { "gene_name": gene_name, "message": gene_message },
                }).done(function (res) {
                    console.log(res);
                });
            });

            //下载数据
            $('#testdown2').click(function () {
                $.ajax("/api/newdownloadfile", {
                    method: "get",
                    //data: { "gene_name": gene_name, "message": gene_message },
                }).done(function (res) {
                    console.log(res);
                });
            });

            $('#testpatient').click(function () {
                console.log("kk");
            });
        });
    </script>

</div>